<div class="list card">
  <ion-item class="item-avatar" ng-style="{'background-color': '{{$ctrl.value.avatarBgColor}}'}">
    <img ng-src="{{$ctrl.value.imgSrc}}">
    <span ng-click="$ctrl.deleteSelf()"><b></b></span>
    <h2>{{ $ctrl.value.title }}</h2>
  </ion-item>
  <div ng-if="$ctrl.value.description!==undefined" class="item item-body">
    <div class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">
        {{ $ctrl.value.description }}
      </p>
    </div>
  </div>


  <div ng-class="$ctrl.value.choices===undefined?'item item-body':''">
    <form class="list">
      <label class="item" ng-class="$ctrl.value.choices===undefined ?'item-input':'item-select'">
        <span class="input-label">{{ $ctrl.value.hint}}</span>
        <select ng-if="$ctrl.value.choices !== undefined">
          <option ng-repeat="choice in $ctrl.value.choices"> {{choice}}</option>
        </select>
        <input ng-if="$ctrl.value.choices === undefined" type="text" placeholder="">
      </label>
    </form>
  </div>
</div>