<ion-view title="我的彩云砖" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="page2-list1">
      <ion-item class="item-thumbnail-left" id="page2-list-item5">
        <img src="img/l8EfX1eUSZq8CdNDDSvT_finalcut_movie_512px_557678_easyicon.net.png">
        <h2>电影综合评分</h2>
        <ion-option-button class="button-calm">add</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page2-list-item6">
        <h2>附近美食推荐</h2>
        <ion-option-button class="button-calm">Add</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>