<ion-view title="彩云砖商店" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="page6-list2">
      <ion-item class="item-avatar" id="page6-list-item7">
        <img src="img/GilLj7nhSbiO99DGChkB_douban_50px_1164416_easyicon.net.png">
        <h2>豆瓣电影评分</h2>
      </ion-item>
      <ion-item class="item-avatar" id="page6-list-item9">
        <h2>猫眼电影评分</h2>
      </ion-item>
      <ion-item class="item-avatar" id="page6-list-item10">
        <h2>IP定位服务</h2>
      </ion-item>
      <ion-item class="item-avatar" id="page6-list-item11">
        <h2>美食推荐</h2>
      </ion-item>
      <ion-item class="item-avatar" id="page6-list-item12">
        <h2>美食评分</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>