<ion-view title="创建彩云砖" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-play" ng-click="run_service()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-done"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <my-card value="card" ng-repeat="card in cards track by $index" ></my-card>

    <!--TODO: below is just a test for soap result, please delete it after validation -->
    <ul ng-if="testSoapResult !== undefined">
      <li ng-repeat="result in testSoapResult">{{ result }}</li>
    </ul>

    <a ng-click="addService()" ui-sref="tabsController.page6" id="page5-button2" class="button button-positive  button-block">添加服务</a>

  </ion-content>
</ion-view>