<ion-view title="彩云砖商店" id="page6">
  <ion-content padding="false" class="has-header">
    <ion-list id="page6-list2">
    <div class="row">
    <ion-item class="item-avatar small col">
        <img src="img/question.png">
        <h2>提问</h2>
      </ion-item>
      <ion-item class="item-avatar small col">
        <img src="img/calculator.png">
        <h2>计算</h2>
      </ion-item>
      <ion-item class="item-avatar small col">
        <img src="img/email.png">
        <h2>发送邮件</h2>
      </ion-item>
      <ion-item class="item-avatar small col">
        <img src="img/text2.png">
        <h2>输入文字</h2>
      </ion-item>
    </div>

    <div class="row">
      <ion-item class="item-avatar col" id="page6-list-item7">
        <img src="img/douban.png">
        <h2>豆瓣电影评分</h2>
      </ion-item>
      <ion-item class="item-avatar col" id="page6-list-item9">
      <img src="img/maoyan.png">
        <h2>猫眼电影评分</h2>
      </ion-item>
      </div>
      <div class="row">
      <ion-item class="item-avatar col" id="page6-list-item10">
      <img src="img/pin.png">
        <h2>IP定位服务</h2>
      </ion-item>
      <ion-item class="item-avatar col" id="page6-list-item11">
      <img src="img/food2.png">
        <h2>美食推荐</h2>
      </ion-item>
      </div>
      <ion-item class="item-avatar" id="page6-list-item12">
      <img src="img/star.png">
        <h2>美食评分</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>