<ion-view title="创建彩云砖" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-ios-play"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-done"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page5-card21">
      <ion-item class="item-avatar" id="page5-list-item15">
        <img src="img/WDiBqpR6GaEsnqwgCxfg_douban_50px_1164416_easyicon.net.png">
        <h2>豆瓣电影评分</h2>
      </ion-item>
      <div class="item item-body" id="page5-list-item-container3">
        <div id="page5-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <form id="page5-form5" class="list">
        <label class="item item-select" id="page5-select3">
          <span class="input-label">Select</span>
          <select>
            <option>评分</option>
            <option></option>
          </select>
        </label>
      </form>
    </div>
    <div class="list card" id="page5-card25">
      <ion-item class="item-avatar" id="page5-list-item23">
        <h2>猫眼电影评分</h2>
      </ion-item>
      <div class="item item-body" id="page5-list-item-container7">
        <div id="page5-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <form id="page5-form6" class="list">
        <label class="item item-select" id="page5-select4">
          <span class="input-label">Select</span>
          <select></select>
        </label>
      </form>
    </div>
    <div class="list card" id="page5-card26">
      <ion-item class="item-avatar" id="page5-list-item25">
        <h2>格瓦拉电影评分</h2>
      </ion-item>
      <div class="item item-body" id="page5-list-item-container8">
        <div id="page5-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <form id="page5-form7" class="list">
        <label class="item item-select" id="page5-select5">
          <span class="input-label">Select</span>
          <select></select>
        </label>
      </form>
    </div>
    <div class="list card" id="page5-card28">
      <ion-item class="item-avatar" id="page5-list-item29">
        <h2>综合评分</h2>
      </ion-item>
      <div class="item item-body" id="page5-list-item-container10">
        <div id="page5-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>