<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top tabs-color-active-positive" id="tabsController-tabs1">
    <ion-tab title="我的服务" icon="ion-ios-home" href="#/page1/page2" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="服务商店" icon="ion-android-playstore" href="#/page1/page6" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="创建服务" icon="ion-ios-plus" href="#/page1/page5" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>